/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

.nav-left {
  text-align: center;
}

.nav-left > .nav-link {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding-right: 5px;
  border-right: 1px solid black;
}

#nav-submit {
  padding-left: 5px;
  border-left: 1px solid black;
}
